body {
  font-family: "Nunito Sans", sans-serif;
}

p {
  font-style: normal;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
}

.hero-text {
  font-size: 4.5em;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

/* Media queries for 360 */

@media screen and (min-width: 380px) {
  .hero-text {
    font-size: 3.5em;
  }
}
